/* You can add global styles to this file, and also import other style files */
.app-header {
    background-color: #42A5F5;
    padding: 16px;
    color: #fff;
}

.mat-mdc-tab-labels {
padding: 16px;
}
.mdc-tab--active {
color: #2196F3;
}

body {margin: 0;}